/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
composer.lock
WATER/project.config.json
yarn.lock
node_modules
storage/laravels.conf
storage/laravels.json
storage/laravels.pid
storage/uploads
.nuxt
dist
resources/views/admin
admin/.history
