@import "./theme.scss";
@import "./loading.scss";
/* 变量集合 START */

$navbar-height: 50px;
$tags-view-height: 35px;
$sidebar-width: 210px;
$sidebar-hide-width: 64px;
$footer-height: 45px;
/* 变量集合 END */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  .icp_code {
    color: #fff;
  }
  * {
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
  }
}

a {
  text-decoration: unset !important;
}

[class*="app_"] {
  font-family: "order" !important;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.page-body {
  .top-bar {
    padding: 10px 0;
    .input-with-select {
      width: 30%;
      .el-input-group__append button.el-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid #409eff;
        color: #fff;
        background-color: #409eff;
      }
    }
  }
  .table-delete {
    color: #f56c6c;
    &:active {
      color: #f56c6c;
    }
    &:focus {
      color: #f56c6c;
    }
    &:hover {
      color: #f55151;
    }
  }
  .pagination {
    padding-top: 10px;
    text-align: center;
  }
  .save-btn {
    font-size: 20px;
    padding: 15px 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.el-image-viewer__close {
  color: #fff !important;
}

.el-image-viewer__wrapper {
  .el-image-viewer__next,
  .el-image-viewer__prev {
    background-color: #333333 !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
