$themes: (
  default: (
    // side-bar
    sidebar-bg: #304156,
    sidebar-active-bg: #152b46,
    sidebar-active-item-bg: #223449,
    sidebar-color: #fff,
    sidebar-border-color: rgba(0, 0, 0, 0.08),
    // navbar
    navbar-bg: #fff,
    navbar-color: #303133,
    navbar-color1: #409eff,
    navbar-color2: #97a8be,
    // body
    body-bg: #ffffff,
    // tags view
    tags-view-bg: #fff,
    tags-view-color: #495060,
    tags-view-active-bg: #303133,
    tags-view-active-border: #303133,
    tags-view-active-color: #409eff,
  ),
  light: (
    // side-bar
    sidebar-bg: #ffffff,
    sidebar-active-bg: #bbbbbb,
    sidebar-active-item-bg: #e1e1e1,
    sidebar-color: #54667a,
    sidebar-border-color: rgba(0, 0, 0, 0.08),
    // navbar
    navbar-bg: #2cabe3,
    navbar-color: #fff,
    navbar-color1: #ffffff,
    navbar-color2: #c5c5c5,
    // body
    body-bg: #edf1f5,
    // tags view
    tags-view-bg: #fff,
    tags-view-color: #495060,
    tags-view-active-bg: #2cabe3,
    tags-view-active-border: #2cabe3,
    tags-view-active-color: #fff,
  ),
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin background_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin font_color($color) {
  @include themeify {
    color: themed($color) !important;
  }
}
@mixin border_color($color) {
  @include themeify {
    border-color: themed($color) !important;
  }
}
